/* Begin: Navbar CSS */
.top-navbar header {
  z-index: 9 !important;
}

.w100 {
  width: 100%;
}

.w90 {
  width: var(--wItemSidebar);
  margin: auto;
}

.display-full {
  position: fixed;
  margin-top: -10px;
  padding-top: 10px;
  width: 256px;
  height: 100vh !important;
  background-color: var(--sidebarColor);
}

/* .display-full,
.display-collapse {
  box-shadow: 0 4px 8px 0 #1a1f33 !important;
} */

.display-full .pro-inner-item {
  padding: 0 20px !important;
}

.display-collapse {
  width: 60px;
  position: fixed;
  height: 100vh;
  background: var(--sidebarColor);
}

.display-collapse .pro-inner-item {
  padding: 0 !important;
}

.w90 .pro-inner-item {
  padding: 0 !important;
}

.display-collapse .pro-inner-item .pro-arrow-wrapper {
  right: 14px !important;
}
.p2s-10 {
  padding: 0 10px;
}

.MuiList-root {
  padding: 15px !important;
}

.MuiToolbar-root {
  line-height: var(--navHeight);
  box-shadow: 0 8px 12px 0 #1a1f33 !important;
}

.MuiMenuItem-root {
  padding: 0 !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
  background-color: unset !important;
}

.navbar-avatar-item > div > ul > li:first-child > p {
  padding-bottom: 10px;
}

.navbar-avatar-item button {
  background: unset !important;
  padding: 0;
}

.navbar-avatar-item button:hover {
  color: #36f !important;
}

.navbar-content svg:hover {
  cursor: pointer;
}

.notify-hover:hover .notify-navbar {
  display: block;
}

.notify-navbar {
  display: none;
  position: absolute;
  color: #000;
  background-color: #fff;
  right: -250px;
  bottom: -124px;
  padding: 15px;
  border-radius: 8px;
}

.notify-navbar button {
  display: flex;
  justify-content: space-between;
  width: var(--sidebarWidth);
  padding: 0 0 10px;
}

.notify-navbar button:hover {
  background: unset;
  color: #007bff !important;
  text-decoration: underline;
}

.notify-navbar button:last-child {
  padding: 0;
}

.notify-navbar button span {
  display: flex;
  gap: 20px;
}

/* End: Navbar CSS */

/* Begin: Sidebar CSS */
.sidebar {
  min-width: 300px;
  padding: 10px 0 0;
  margin-top: var(--navHeight);
  min-height: 100vh;
  background: var(--sidebarColor) !important;
  box-shadow: 0 0.5rem 1rem 0 #1a1f33;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  z-index: 8 !important;
}

.pro-sidebar {
  height: calc(100% - var(--navHeight)) !important;
  min-width: unset !important;
  width: 256px !important;
}

.pro-sidebar > .pro-sidebar-inner {
  background-color: var(--sidebarColor) !important;
}

.pro-sidebar .pro-menu.shaped .pro-menu-item > .pro-inner-item > .pro-icon-wrapper {
  background-color: var(--sidebarColor) !important;
}

.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  background-color: var(--sidebarColor) !important;
  margin: auto;
}

.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item > div > ul {
  padding: 0 !important;
}
.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item {
  font-size: 13px !important;
  min-height: 48px !important;
  background-color: var(--sidebarColor) !important;
  border-bottom: 1px solid #1b1b38;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item {
  padding: 0 !important;
}

.pro-sidebar .pro-menu {
  padding: 0 !important;
}

.pro-sidebar .pro-menu a {
  padding-left: 46px;
}

/* Begin: Bottom Bar CSS */
.footer-bar-fixed {
  position: fixed;
  display: flex;
  bottom: 0;
  right: 0;
  left: 255px;
  margin: auto;
  width: calc(100% - 326px);
  line-height: 38px;
  padding: 0 36px;
  background-color: var(--sidebarColor);
  box-shadow: 0px 0px 20px 0px #b18aff;
  border-bottom: 2px solid #000;
  z-index: 9;
}

.footer-bar-fixed.footer-bar-fixed-full {
  left: 61px;
  width: calc(100vw - 140px);
}

.footer-bar-content {
  margin: auto 0;
  display: flex;
  gap: 12px;
}

.footer-bar-content button:hover,
.footer-bar-content button[disabled]:hover {
  color: #000 !important;
}

.footer-btn {
  padding: 6px 12px;
  color: #fff !important;
  font-size: 16px !important;
  text-transform: none !important;
  background-color: #f0ad4e !important;
  border-color: #eea236 !important;
  min-width: 150px !important;
  max-height: 38px !important;
}

.footer-btn-add {
  max-height: 35px !important;
  border-radius: 6px !important;
  font-size: 15px !important;
}
/* End: Bottom Bar CSS */

/* Begin: Pagination CSS */
.pagination-container {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
}

.pagination-container div button {
  color: #fff !important;
  font-size: 15px;
  min-height: 40px !important;
  width: 40px;
  border: 1px solid #000;
}

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected[aria-label*='page'] {
  background: var(--buttonColor) !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select[aria-labelledby='pagination-select-helper-label demo-simple-select-helper'] {
  max-height: 32px !important;
  line-height: 32px !important;
  padding: 0 20px 0 0 !important;
  min-width: 80px !important;
  background: var(--buttonColor) !important;
  text-align: center !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
  overflow: visible !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list[aria-labelledby='pagination-select-helper-label'] {
  padding: 0 !important;
  background: var(--buttonColor) !important;
  text-align: center !important;
  min-width: 80px !important;
  overflow: visible !important;
}

.css-1peecku-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root > div[aria-expanded='true'] {
  border-radius: 0 !important;
}

.MuiTypography-root.MuiTypography-body1.css-lhbuvf-MuiTypography-root {
  font-size: 15px;
  font-weight: bold !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list[aria-labelledby='pagination-select-helper-label'] li:hover {
  opacity: 0.7 !important;
  background: #fff !important;
}
ul[aria-labelledby='pagination-select-helper-label']
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected[data-value] {
  background: dodgerblue !important;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper[aria-labelledby='pagination-select-helper-label'] {
  width: 80px !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list[aria-labelledby='pagination-select-helper-label']
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  justify-content: center;
  padding: 2px !important;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon[data-testid='ArrowDropDownIcon'],
.css-bpeome-MuiSvgIcon-root-MuiSelect-icon[data-testid='ArrowDropDownIcon'] {
  font-size: 24px !important;
  right: -8px !important;
  color: #fff !important;
}

.MuiPaginationItem-root.MuiPaginationItem-sizeMedium.MuiPaginationItem-outlined.MuiPaginationItem-rounded.MuiPaginationItem-ellipsis {
  font-size: 20px !important;
  color: #fff;
  border: 1px solid #000;
  border-radius: 0 !important;
  min-height: 40px !important;
  width: 40px !important;
  border-radius: 4px !important;
}
.css-g2z002-MuiSvgIcon-root-MuiPaginationItem-icon[data-testid='NavigateBeforeIcon'],
.css-g2z002-MuiSvgIcon-root-MuiPaginationItem-icon[data-testid='NavigateNextIcon'] {
  font-size: 20px !important;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper[aria-labelledby='pagination-select-helper-label'] {
  top: 843px !important;
  border-radius: 0 !important;
}

/* End: Pagination CSS */

/* End: Sidebar CSS */

@media (min-width: 600px) {
  .css-1t29gy6-MuiToolbar-root {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
