@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');

:root {
  --navHeight: 76px;
  --sidebarWidth: 238px;
  --checkboxWidth: 16;
  --wItemSidebar: 84%;
  --sidebarColor: #323259;
  --bgColor: #13132b;
}

.borderTop {
  border-top: 1px solid var(--bgColor);
}

.ml-60px {
  margin-left: 60px !important;
}

.ml-570px {
  margin-left: 570px !important;
}

.sidebar.w60px {
  width: 60px !important;
  min-width: unset !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

.borderNone {
  border: none !important;
  outline: none !important;
  background-color: transparent !important;
}

.displayNone {
  display: none !important;
}

/* Status CSS */
#status option[value] {
  color: #37b1df;
  font-size: 16px;
}

#status option:first-child {
  color: unset;
  font-size: 14px;
}

.pagination-list.active {
  background: #37b1df;
  color: #fff;
  border-radius: 8px;
}

.rotate180 {
  transform: rotate(180deg);
  transition: all 0.8;
}

.App {
  text-align: center;
}

/* Begin: Form CSS */
.form-gender {
  padding: 0 !important;
}

.form-select {
  height: 40px !important;
  font-size: 14px !important;
}

.form-check {
  padding-left: 20px !important;
}

.login-button,
.register-button {
  margin: 8px 0 0px;
  padding: 8px 0 !important;
}

.login-form .form-check {
  padding: 0 !important;
}

.login-form .form-check input {
  margin: 0 8px 0 0;
  vertical-align: middle;
}

.login-form .form-check label {
  vertical-align: middle;
}

.form-control {
  height: 40px !important;
}

.form-control span {
  margin-left: 8px;
}

.inputForm {
  display: flex;
  gap: 20px;
  padding: 0 !important;
}

#input-title {
  width: 100%;
  outline: none;
  border: none !important;
}

.filter-form {
  padding: 20px 20px 0;
}

.filter-input,
.filter-select-product {
  border: 1px solid var(--bgColor) !important;
  padding: 8px 16px;
  height: 24px;
  font-size: 15px;
  background-color: #252547;
  color: #fff !important;
  outline: none;
  width: 100%;
  height: 42px;
  border-radius: 4px;
}

.filter-select-product {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-image: url(https://www.freeiconspng.com/thumbs/white-arrow-png/white-down-arrow-png-2.png);
  background-position: 94%;
  background-size: 16px;
  background-repeat: no-repeat;
}

.filter-select-category option {
  height: 20px;
}

.btn-collapse-filter {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -44px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 60px;
  background-color: var(--sidebarColor);
  border-radius: 0 0 8px 8px;
}

.btn-collapse-filter.filter-open {
  bottom: -160px;
}

.filter-input::-webkit-input-placeholder {
  color: #fff;
}

.btn-collapse-filter svg {
  font-size: 22px !important;
  transition: all 1s;
}

.btn-collapse-filter:hover {
  cursor: pointer;
}

.hidden-search-box {
  display: flex;
  justify-content: left;
  gap: 60px;
  color: #fff;
  list-style: none;
  padding-top: 20px;
  border-top: 1px solid var(--bgColor);
  transition: all 1s;
}

.hidden-search-item {
  display: flex;
  gap: 20px;
}

.hidden-search-item > div > div {
  margin-bottom: 6px;
}

.hidden-search-item {
  align-items: center;
}

.hidden-search-item:first-child {
  align-items: unset;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  display: none;
}

/* End: Form CSS */

/* Begin: Table CSS */
.table-data {
  margin-top: 24px;
  background-color: #323259;
  font-size: 14px !important;
  width: calc(100vw- 270px);
  border-radius: 4px;
}

.table-data,
.table-data tr {
  color: #fff;
}

.table > :not(caption) > * > *,
.table > :not(:first-child) {
  border: none !important;
}

.table-data tr {
  border-top: 1px solid #000 !important;
}

.table-data th,
.table-data td {
  padding: 10px 17px !important;
}

.table-data-BtnUpdate {
  padding: 0 10px;
  font-weight: bold;
  outline: none !important;
}

.table-data-BtnUpdate svg {
  font-size: 20px;
  color: #72b25b;
}

.table-data-BtnUpdate:hover {
  opacity: 0.6;
}

.css-18lolh3-MuiDataGrid-root {
  border: 1px solid #1b1b38 !important;
  border-radius: 4px !important;
}

.css-18lolh3-MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer {
  padding: 16px 24px !important;
  font-size: 15px;
}

.css-18lolh3-MuiDataGrid-root .MuiDataGrid-cell--textLeft {
  padding: 10px 24px !important;
}

.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root {
  display: none !important;
}

.css-18lolh3-MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer {
  outline: none !important;
}

.css-i4bv87-MuiSvgIcon-root {
  color: #fff;
}

.css-i4bv87-MuiSvgIcon-root[data-testid='SeparatorIcon'] {
  display: none !important;
}

.css-18lolh3-MuiDataGrid-root .MuiDataGrid-cell--textLeft[data-field='update'] {
  display: flex;
  justify-content: center;
  border-right: 1.5px dashed #bbb;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root[api] {
  border-right: 1px solid #fff !important;
  border-radius: 0 !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  margin-left: 12px;
}

.css-18lolh3-MuiDataGrid-root .MuiDataGrid-cell--textCenter {
  justify-content: right;
}

.css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
  overflow: visible !important;
}

.css-18lolh3-MuiDataGrid-root .MuiDataGrid-cell--textLeft[data-field='name'],
.css-18lolh3-MuiDataGrid-root .MuiDataGrid-columnHeader--sortable[data-field='name'] {
  min-width: 26% !important;
}

.css-18lolh3-MuiDataGrid-root .MuiDataGrid-cell--textLeft[data-field='vendor'],
.css-18lolh3-MuiDataGrid-root .MuiDataGrid-columnHeader--sortable[data-field='vendor'] {
  min-width: 18% !important;
}

.css-16c50h-MuiInputBase-root-MuiTablePagination-select,
.css-pdct74-MuiTablePagination-selectLabel,
.css-levciy-MuiTablePagination-displayedRows {
  font-size: 15px !important;
  color: #fff !important;
  margin-bottom: 0 !important;
}

/* .css-6hp17o-MuiList-root-MuiMenu-list {
  width: 80px;
} */

/* .css-6hp17o-MuiList-root-MuiMenu-list > li {
  justify-content: center;
  padding: 7px !important;
} */

.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon[data-testid='ArrowDropDownIcon'] {
  right: -12px !important;
  color: #fff !important;
}

.css-i4bv87-MuiSvgIcon-root[data-testid='KeyboardArrowLeftIcon'],
.css-i4bv87-MuiSvgIcon-root[data-testid='ArrowDropDownIcon'],
.css-i4bv87-MuiSvgIcon-root[data-testid='KeyboardArrowRightIcon'] {
  font-size: 32px !important;
}

.MuiList-root {
  padding: 0 !important;
}

.css-okt5j6-MuiDataGrid-columnHeaders {
  border-color: #000 !important;
}

/* End: Table CSS */

/* Begin: User Information CSS */
.user-info-page {
  background-color: #ebebeb;
  width: 92vw;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px 4%;
  max-height: 800px;
  height: 80vh;
  border-radius: 4px;
}

.user-avatar {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50% !important;
  overflow: hidden;
  margin: 0 auto 32px;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  transition: all 1.2s;
}

.user-avatar:hover {
  cursor: pointer;
}

.user-avatar:hover img {
  transform: scale(1.1);
  opacity: 0.5;
}

.user-avatar:hover .user-avatar-detail {
  display: block !important;
}

.user-avatar input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.user-avatar-detail {
  position: absolute;
  display: none;
  top: 32%;
  left: 11%;
  font-size: 20px;
  width: 80%;
}

.user-info-list {
  max-width: 400px;
}

.user-info-list > div {
  margin: 40px 0;
  text-align: left;
}

.user-info-list label {
  font-size: 20px;
}

.user-info-list input,
.user-info-list div {
  font-size: 16px;
}

.MuiFormControl-root {
  margin: 0 !important;
}

.MuiMenuItem-root {
  font-size: 14px !important;
}

.user-info-input {
  width: 200px;
  padding: 8px;
}

/* End: User Information CSS */

/* Begin: Submit button CSS */
.submit-item-btn {
  display: flex;
  justify-content: right;
  gap: 40px;
  width: 90%;
  margin-right: 40px;
}

.submit-item-btn .btn-confirm:hover,
.submit-item-btn .btn-reset:hover {
  border: none;
  color: #fff;
}

.submit-item-btn .btn-confirm:hover {
  background-color: #31a74c;
}

.submit-item-btn .btn-reset:hover {
  background-color: red;
}

.btn-confirm,
.btn-reset {
  outline: none !important;
}

.submit-item-btn button {
  border: 1px solid #000;
  padding: 12px 32px;
  border-radius: 0;
}

.btn-table-common {
  height: 38px;
  color: #fff !important;
  background-color: #b18aff !important;
  border-color: #b18aff !important;
  font-size: 15px !important;
}
/* End: Button CSS*/

/* .backToTop span {
  position: absolute;
  right: 0;
  margin-bottom: 40px;
  font-size: 40px;
}

.backToTop span sgv {
  width: 40px !important;
  height: 40px !important;
} */

/* Begin: Modal CSS */
.confirm-modal,
.trans-modal,
.behind-modal,
.modal-chooseAvatar,
.modal-chooseAvatar-box {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: unset !important;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.behind-modal {
  background-color: unset;
  z-index: 9;
}

.confirm-modal-content,
.trans-modal-content {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #fff;
  z-index: 10;
}

.modal-chooseAvatar-box {
  display: block;
  width: 96vw;
  background: #fff;
  max-width: 1100px !important;
  height: 54%;
  max-height: 500px;
  margin: auto;
  padding: 20px 20px;
  border-radius: 8px;
}

.modal-chooseAvatar-content {
  position: absolute;
  bottom: 20px;
  right: 20px;
  left: 20px;
  display: flex;
}

.confirm-modal-content {
  min-height: 260px;
  align-items: center;
  width: 100vw;
  max-width: 800px;
  border-radius: 4px;
}

.confirm-modal-content p {
  margin-top: -60px;
  font-size: 28px;
}

.close-modal-btn {
  position: absolute;
  font-size: 28px;
  right: 8px;
  top: 8px;
}

.close-modal-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.modal-button {
  display: flex;
  gap: 40px;
  position: absolute;
  bottom: 60px;
}

.modal-button button {
  border: none;
  width: 120px;
  height: 48px;
  border-radius: 4px;
}

.modal-button_confirm {
  background-color: red;
  color: #fff;
}

.modal-button_cancel {
  background-color: #ccc;
}

.modal-button_save {
  background-color: green;
  color: #fff;
}

.modal-button_confirm:hover,
.modal-button_cancel:hover,
.modal-button_save {
  opacity: 0.7;
}

.modal-delete-btn {
  font-size: 20px;
  color: red;
}

.trans-modal-content {
  min-height: 60vh;
  width: 100vw;
  max-width: 480px;
  border-radius: 4px;
  padding: 20px 4%;
}

.trans-modal-content p {
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 20px;
}

.trans-modal-form {
  margin: auto;
  text-align: left;
}

.trans-modal-form .col-md-12:last-child {
  margin-bottom: 40px !important;
}

.trans-modal-form label {
  font-size: 18px;
}
/* End: Modal CSS */

/* Begin: Pagination CSS */
.pagination {
  display: flex !important;
  justify-content: space-around;
}

.pagination-left {
  display: flex;
  font-size: 16px;
  align-items: center;
  gap: 20px;
}

.pagination-left select {
  position: relative;
  width: 48px;
  line-height: 32px;
  text-align: center;
  border: none !important;
  outline: none !important;
}

.pagination-left h4,
.pagination-left p {
  margin: 0 !important;
}

.pagination-left > p > div svg {
  position: absolute;
  right: 0px;
  top: 22%;
}

.pagination-right {
  list-style: none;
  display: flex;
}

.pagination-item {
  width: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.pagination-item:hover {
  cursor: pointer;
}
/* End: Pagination CSS */

/* Responsive */
@media (min-width: 1200px) {
  .listItem {
    width: 60vw;
  }
}

@media (max-width: 991px) {
  .navbar-nav {
    display: none !important;
  }

  .navbar-toggler {
    position: absolute;
    right: 20px;
  }
}

@media (max-width: 1023px) {
  .trans-header {
    display: block;
  }

  .trans-header-btn {
    margin-top: 40px;
    /* justify-content:ri */
  }

  .trans-header-content li,
  .trans-header-content .date-input {
    width: 160px;
  }

  .trans-table-header th,
  .trans-table-content td {
    padding: 0 8px;
  }

  .trans-table-header th {
    width: 8%;
  }

  .trans-table-content td > div {
    max-width: 140px;
  }
}
