@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');

:root {
  --navHeight: 76px;
  --sidebarWidth: 238px;
  --checkboxWidth: 16;
  --wItemSidebar: 84%;
  --sidebarColor: #323259;
  --bgColor: #13132b;
  --buttonColor: #b18aff;
  --addInputPageColor: #252547;
}

/* Common CSS */
.separated-space {
  display: block;
  height: 20px;
  background: #323259;
  margin-right: -30px;
  margin-left: -45px;
  box-shadow: inset 0 5px 5px -5px rgb(0 0 0 / 75%);
  z-index: 11;
}

.filter-select-product.remove-icon-dropdown {
  background-image: none !important;
}

.filter-select-product.remove-icon-dropdown svg {
  display: none !important;
}

.add-parts-title {
  margin: 16px 0;
  font-size: 26px;
  font-weight: normal;
}

.button {
  cursor: pointer;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background-color: var(--bgColor);
}

::-webkit-scrollbar-thumb {
  background: #b18aff;
}

button[disabled] {
  opacity: 0.5;
}

.opacity {
  opacity: 0.5;
}

.remove-icon-delete img {
  display: none !important;
}

.filter-select-product .icon_down_dir {
  display: none !important;
}

.singleSelect .closeIcon {
  display: none !important;
}

.MuiBox-root.css-i9gxme {
  margin-bottom: 0 !important;
}

.borderTop {
  border-top: 1px solid var(--bgColor);
}

.add-input::-webkit-outer-spin-button,
.add-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.filter-input.border-highlight,
.filter-select-product.border-highlight {
  border-color: #a16eff !important;
}

.remove-icon-calendar[type='date']::-webkit-inner-spin-button,
.remove-icon-calendar[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.add-input-custom-icon.add-input {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-image: url(https://www.freeiconspng.com/thumbs/white-arrow-png/white-down-arrow-png-2.png);
  background-position: 80%;
  background-size: 16px;
  background-repeat: no-repeat;
  padding: 0 0 0 20px;
}

.change-to-input.bg-fff,
.div-change-to-input.bg-fff {
  background: #fff !important;
  color: #000 !important;
}

.div-change-to-input.bg-fff input {
  color: #000 !important;
}

.ml-60px {
  margin-left: 60px !important;
}

.ml-570px {
  margin-left: 570px !important;
}

.sidebar.w60px {
  width: 60px !important;
  min-width: unset !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

/* .MuiList-root[role='listbox'] {
  padding: 4px 20px !important;
  background-color: #b18aff !important;
} */

.MuiList-root[aria-labelledby='filter-options'] {
  padding: 4px 20px !important;
  background-color: var(--sidebarColor) !important;
  border: 1px solid #13132b;
  border-radius: 4px;
}

.filter-form .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #fff !important;
}

.borderNone {
  border: none !important;
  outline: none !important;
  background-color: transparent !important;
}

.displayNone {
  display: none !important;
}

.pagination-list.active {
  background: #37b1df;
  color: #fff;
  border-radius: 8px;
}

.rotate180 {
  transform: rotate(180deg);
  transition: all 0.8;
}

.App {
  text-align: center;
}

/* Begin: Login CSS */
.login-email-input.MuiFormControl-root,
.login-password-input.MuiFormControl-root {
  margin: 0 0 8px !important;
}

.login-email-input .css-1wc848c-MuiFormHelperText-root {
  margin-bottom: -8px !important;
}

.login-input .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  border: 1px solid #ccc;
  background-color: #fff !important;
  padding: 10.5px !important;
  border-radius: 4px !important;
}
/* End: Login CSS */

/* Begin: Form CSS */
.form-gender {
  padding: 0 !important;
}

.form-select {
  height: 40px !important;
  font-size: 14px !important;
}

.form-check {
  padding-left: 20px !important;
}

.login-button,
.register-button {
  margin: 8px 0 0px;
  padding: 8px 0 !important;
}

.login-form .form-check {
  padding: 0 !important;
}

.login-form .form-check input {
  margin: 0 8px 0 0;
  vertical-align: middle;
}

.login-form .form-check label {
  vertical-align: middle;
}

.form-control {
  height: 40px !important;
}

.form-control span {
  margin-left: 8px;
}

.inputForm {
  display: flex;
  gap: 20px;
  padding: 0 !important;
}

#input-title {
  width: 100%;
  outline: none;
  border: none !important;
}

.filter-form {
  padding: 20px 20px 0;
}

.filter-input,
.filter-select-product {
  border: 1px solid var(--bgColor) !important;
  padding: 8px 16px;
  font-size: 15px;
  background-color: #252547;
  color: #fff !important;
  outline: none;
  width: 100%;
  min-height: 42px;
  height: auto;
  border-radius: 4px;
}

.add-select-custom-icon,
.filter-select-product,
.add-icon-collapse {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-image: url(https://www.freeiconspng.com/thumbs/white-arrow-png/white-down-arrow-png-2.png) !important;
  background-position: 98% !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
}

.filter-select-availability {
  width: 200px;
}

.filter-input:hover,
.filter-select-product:hover {
  background: #1b1b38 !important;
  border-color: var(--bgColor) !important;
}

.filter-select-product.multiSelectContainer input {
  border-radius: 4px !important;
}

.filter-input[id='vendor']:hover {
  background: #252547 !important;
}

.filter-select-category option {
  height: 20px;
}

.btn-collapse-filter {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -44px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 60px;
  background-color: var(--sidebarColor);
  border-radius: 0 0 8px 8px;
}

.btn-collapse-filter.filter-open {
  bottom: -138px;
}

.btn-collapse-filter.filter-open.btn-open-filter-user {
  bottom: -298px;
}

.filter-input::-webkit-input-placeholder {
  color: #fff;
}

.btn-collapse-filter svg {
  color: #4cc9f0 !important;
  font-size: 24px !important;
  transition: all 1s;
}

.btn-collapse-filter:hover {
  cursor: pointer;
}

.hidden-search-box {
  display: flex;
  justify-content: left;
  gap: 60px;
  color: #fff;
  list-style: none;
  padding-top: 20px;
  border-top: 1px solid var(--bgColor);
  transition: all 1s;
}

.hidden-search-item {
  display: flex;
  gap: 20px;
}

.hidden-search-item .optionListContainer span[class='notFound'] {
  margin-top: 0px;
}

.filter-select-product.multiSelectContainer input {
  margin-top: 1px;
}

.hidden-search-item > div > div {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.hidden-search-item {
  align-items: center;
}

.hidden-search-item:first-child {
  align-items: unset;
}

.hidden-search-item.hidden-search-filter-user {
  width: 36%;
  display: block !important;
  padding: 0 !important;
}

.hidden-search-filter-user .MuiList-padding.MuiList-root {
  padding: 0 !important;
}

.hidden-search-filter-item {
  display: flex;
  gap: 20px;
  justify-content: left !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  display: none;
}

.css-1qauw1y-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
  padding: 0 !important;
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-ra1yww-MuiAutocomplete-root .MuiOutlinedInput-root,
.MuiAutocomplete-inputRoot {
  font-size: 15px !important;
  padding: 0 !important;
  color: #fff !important;
}

.MuiAutocomplete-popper[role='presentation'] {
  font-size: 50px !important;
}

.MuiAutocomplete-root.filter-input.css-18gspv4-MuiAutocomplete-root {
  margin: 0 !important;
}

.dot-open-search-box {
  position: absolute;
  font-size: 16px;
  color: #fff;
  bottom: -5px;
}

.multiSelectContainer input::placeholder {
  color: #fff !important;
  opacity: 1;
}

/* End: Form CSS */

/* Begin: Table CSS */
.table-data {
  background-color: #323259 !important;
  font-size: 14px !important;
  width: calc(100vw- 256px);
  border-radius: 4px;
  color: #fff !important;
}

.table-data a {
  color: dodgerblue !important;
  text-decoration: none !important;
}

.table-data a:hover {
  text-decoration: underline !important;
}

.table-data th .MuiCheckbox-root .css-i4bv87-MuiSvgIcon-root {
  width: 18px !important;
  margin-left: -3px !important;
}

.table-data th,
.table-data td,
.table-data td input {
  vertical-align: middle !important;
  color: #fff !important;
}

.table-data .table-delete-button:hover svg[data-testid='DeleteIcon'] {
  color: #000 !important;
  opacity: 0.9;
}

input[type='checkbox'],
input[type='radio'] {
  margin-top: 0 !important;
}

.table > :not(caption) > * > *,
.table > :not(:first-child) {
  border: none !important;
}

.table-data tr {
  border-top: 1px solid #000 !important;
}

.table-data th {
  padding: 2px 17px !important;
}
.table-data td {
  padding: 10px 17px !important;
}

.pagination-container {
  padding-top: 6.5px;
  padding-bottom: 6.5px;
}

.table-data-BtnUpdate {
  padding: 0 10px;
  font-weight: bold;
  outline: none !important;
}

.table-data-BtnUpdate svg {
  font-size: 20px;
  color: #72b25b;
}

.table-data-BtnUpdate:hover {
  opacity: 0.6;
}

.table-data .change-to-input,
.table-data .div-change-to-input input {
  background: transparent;
  border: none;
  outline: none;
  min-height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 4px;
}

.table-data .change-to-input {
  padding: 6px 10px 6px 9px;
  max-width: 80px;
  min-height: 32px;
}
.table-data .div-change-to-input {
  padding: 0 10px;
  max-width: 100px;
  border-radius: 4px;
}

.table-data .change-to-input::-webkit-outer-spin-button,
.table-data .change-to-input::-webkit-inner-spin-button,
.table-data .div-change-to-input input::-webkit-outer-spin-button,
.table-data .div-change-to-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.table-data .change-to-input[type='number'] {
  -moz-appearance: textfield;
}

.table-data tr:hover .change-to-input.input-default,
.table-data tr:hover .div-change-to-input.input-default {
  cursor: pointer !important;
  background: var(--buttonColor) !important;
}

.table-data .css-1ex1afd-MuiTableCell-root,
.table-data .css-1ygcj2i-MuiTableCell-root {
  border: none !important;
}

.table-data .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  min-width: unset !important;
}

.table-toolbar {
  color: #ccc;
}

.table-toolbar .MuiToolbar-root {
  box-shadow: none !important;
}

.table-toolbar .MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-14covj4-MuiToolbar-root {
  min-height: unset !important;
  margin: -10px 0 10px;
}
/* End: Table CSS */

/* Begin: Add Product CSS */
.add-header-title {
  font-size: 32px;
  margin: 10px 5px 48px;
  font-weight: normal;
}

.add-header-redirect {
  color: #000 !important;
  background-color: #fff !important;
  border-radius: 50% !important;
  width: 32px !important;
  height: 32px !important;
  min-width: unset !important;
  padding: 0 !important;
  margin: 0 0 12px !important;
}

.add-form {
  color: #fff;
  z-index: 0;
}

.add-form .add-input.hover-none:hover {
  background: var(--addInputPageColor) !important;
  background-color: var(--addInputPageColor) !important;
  opacity: unset !important;
}

.add-form ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

.option.selected {
  background-color: var(--buttonColor) !important;
}

.add-item {
  width: 60%;
  max-width: 400px;
}

.add-item .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  color: #fff !important;
  font-size: 15px !important;
  font-weight: bold !important;
}

.add-item
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding-left: 0 !important;
  padding-right: 4px !important;
}

.add-item svg {
  margin-right: 20px;
}

.add-box {
  display: flex;
  gap: 28px;
  margin: 24px 0;
}

.add-box .add-input[name^='shipping'] {
  width: 44% !important;
}
.add-box .add-input[name='shipping[0].price'] {
  width: 100% !important;
}

.add-input,
.multiselect-option-custom .search-wrapper.searchWrapper {
  width: 100% !important;
  padding: 0 40px 0 15px;
  min-height: 40px;
  outline: none !important;
  background-color: var(--addInputPageColor);
  border-radius: 8px;
  color: #fff;
  font-size: 15px !important;
  border: 1px solid #13132b;
}

.add-category-option-custom.multiselect-option-custom .search-wrapper.searchWrapper,
.add-category-option-custom.multiselect-option-custom > div,
.add-category-option-custom.multiselect-option-custom {
  min-height: 32px !important;
}

.multiselect-option-custom,
.multiselect-option-custom .search-wrapper.searchWrapper {
  padding: 0 !important;
}

.multiselect-option-custom .search-wrapper.searchWrapper .chip {
  margin: 0 8px 8px 0 !important;
  height: 24px !important;
}

.add-item .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root > div[aria-haspopup='listbox'] {
  padding: 0 !important;
}

.multiselect-option-custom .optionContainer {
  color: #000 !important;
}

.multiselect-option-custom .optionContainer .highlightOption {
  background-color: #fff !important;
  color: #000 !important;
}

.multiselect-option-custom .optionContainer .highlightOption:hover,
.multiselect-option-custom .optionContainer .option:hover {
  background-color: #f5faff !important;
  color: #333 !important;
}

.multiselect-option-custom .search-wrapper.searchWrapper span {
  border-radius: 2px !important;
  background-color: var(--buttonColor) !important;
}

.multiselect-option-custom .search-wrapper.searchWrapper span .custom-close {
  font-size: 18px;
}

.multiselect-option-custom .search-wrapper.searchWrapper span .custom-close svg {
  margin: 0 0 0 8px !important;
  padding-left: 8px;
  border-left: 1px dashed #fff;
}

.multiselect-option-custom .search-wrapper.searchWrapper span .custom-close svg:hover {
  cursor: pointer;
}

.add-memberships-option-custom {
  max-width: 400px !important;
}

.add-memberships-option-custom.multiSelectContainer ul {
  border-color: var(--buttonColor);
}

.add-memberships-option-custom .search-wrapper.searchWrapper {
  height: 40px !important;
  max-width: 100% !important;
}

.add-memberships-option-custom .search-wrapper.searchWrapper .chip {
  background-color: unset !important;
  font-size: 15px !important;
  display: flex !important;
  align-items: center !important;
  margin: 0 !important;
  height: 40px !important;
  padding: 7px 36px 8px 16px !important;
}

.add-memberships-option-custom .search-wrapper.searchWrapper .chip .icon_cancel.closeIcon {
  display: none !important;
}

.add-memberships-option-custom .optionListContainer {
  margin: 12px 0 0 0 !important;
  height: 38px !important;
}

.add-memberships-option-custom .optionContainer .option {
  background-color: var(--sidebarColor) !important;
  color: #fff !important;
}

.add-memberships-option-custom .optionContainer .option .highlightOption {
  background-color: var(--buttonColor) !important;
}

.add-memberships-option-custom .optionContainer .option:hover {
  background: #323259 !important;
  color: #fff !important;
}

.add-memberships-option-custom .optionListContainer .option {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
  height: 38px;
}

.add-memberships-option-custom .optionListContainer .option input {
  background: var(--sidebarColor) !important;
  width: 20px !important;
  height: 24px !important;
}

.multiselect-option-custom input {
  padding: 0 40px 0 15px;
  min-height: 32px !important;
  margin: 0 !important;
  width: 100%;
  color: #fff;
}

.add-input:hover {
  background-color: #1b1b38;
  border: 1px solid #a16eff;
}

.add-input-hover:hover {
  background-color: #1b1b38;
}

.add-button {
  position: relative;
}

.add-button,
.add-hidden-button {
  text-decoration: none !important;
  text-transform: none !important;
  justify-content: left !important;
  background: var(--sidebarColor) !important;
  color: #fff !important;
  font-weight: bold !important;
  z-index: 1;
  padding: 0 !important;
}

.add-hidden-button {
  background: #b18aff !important;
  position: absolute !important;
  bottom: -44px;
}

.add-input .toolbarClassName {
  background-color: #ccc;
  padding: 10px !important;
  color: #000 !important;
}

.add-condition-option {
  color: #fff !important;
  font-size: 15px !important;
  font-weight: bold !important;
  height: 32px !important;
}

.add-condition-option.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected[data-value] {
  background-color: transparent !important;
}

.add-image-box {
  border: 1px dashed #ccc !important;
}

.add-image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 122px !important;
  height: 124px !important;
  position: relative;
}

.add-image-box svg {
  font-size: 68px !important;
}

.border-camera-icon {
  position: absolute;
  height: 5px;
  width: 60px;
  background: #b18aff !important;
  border-radius: 4px;
  bottom: 36px;
}

.editorClassName {
  padding: 4px 8px;
  color: #fff !important;
  border: 1px solid #fff !important;
}

.wrapperClassName .rdw-editor-toolbar {
  margin: 0 !important;
  background: #f5f5f5 !important;
  color: #000 !important;
}

.editorClassName .public-DraftStyleDefault-block.public-DraftStyleDefault-ltr {
  margin: 0 !important;
}

.toolbarClassName .rdw-option-wrapper[title='Strikethrough'],
.toolbarClassName .rdw-option-wrapper[title='Monospace'],
.toolbarClassName .rdw-option-wrapper[title='Superscript'],
.toolbarClassName .rdw-option-wrapper[title='Subscript'],
.toolbarClassName .rdw-option-wrapper[title='Indent'],
.toolbarClassName .rdw-option-wrapper[title='Outdent'],
.toolbarClassName .rdw-option-wrapper[title='Image'],
.toolbarClassName .rdw-option-wrapper[title='Link'],
.toolbarClassName .rdw-option-wrapper[title='Unlink'],
.toolbarClassName .rdw-option-wrapper[title='Embedded'] {
  display: none !important;
}

.add-item .react-datepicker__input-container {
  width: 101%;
}

.custom-date-picker {
  border-color: #a16eff;
  margin-left: -4px;
  margin-right: -4px;
  border-radius: 4px;
}

/* End: Add Product CSS */

/* Begin: Submit button CSS */
.submit-item-btn {
  display: flex;
  justify-content: right;
  gap: 40px;
  width: 90%;
  margin-right: 40px;
}

.submit-item-btn .btn-confirm:hover,
.submit-item-btn .btn-reset:hover {
  border: none;
  color: #fff;
}

.submit-item-btn .btn-confirm:hover {
  background-color: #31a74c;
}

.submit-item-btn .btn-reset:hover {
  background-color: red;
}

.btn-confirm,
.btn-reset {
  outline: none !important;
}

.submit-item-btn button {
  border: 1px solid #000;
  padding: 12px 32px;
  border-radius: 0;
}

.btn-table-common {
  height: 34.5px;
  color: #fff !important;
  padding: 6px 12px !important;
  background-color: var(--buttonColor) !important;
  border-color: var(--buttonColor) !important;
  font-size: 15px !important;
  text-transform: capitalize !important;
}

.btn-table-common:hover {
  color: #212529 !important;
}

.detail-tab-btn {
  border-color: hsla(0, 0%, 100%, 0.2) !important;
}

.detail-tab-btn .css-1h9z7r5-MuiButtonBase-root-MuiTab-root,
.detail-sub-tab-btn .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  padding: 8px 16px 0 !important;
  text-transform: none !important;
  min-width: unset !important;
  max-height: 32px !important;
}

.detail-tab-btn .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  font-weight: bold !important;
  color: #b4b4db !important;
  font-size: 14px !important;
}

.detail-tab-btn .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: var(--buttonColor) !important;
}

.detail-sub-tab-btn {
  border: none !important;
}

.detail-sub-tab-btn .css-heg063-MuiTabs-flexContainer {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2) !important;
}

.detail-sub-tab-btn .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  color: #fff !important;
  font-size: 15px !important;
  padding-bottom: 12px !important;
}

.detail-sub-tab-btn .MuiTabs-indicator.css-1aquho2-MuiTabs-indicator[style^='left: 0px'] {
  margin: 0 48px !important;
}

.detail-sub-tab-btn .MuiTabs-indicator.css-1aquho2-MuiTabs-indicator {
  margin: 0 80px !important;
}

.detail-sub-tab-btn .detail-sub-tab-second-button {
  color: var(--buttonColor) !important;
}

.add-file-sub-btn:hover {
  background: var(--buttonColor) !important;
  color: #fff !important;
}

/* End: Button CSS*/

/* .backToTop span {
  position: absolute;
  right: 0;
  margin-bottom: 40px;
  font-size: 40px;
}

.backToTop span sgv {
  width: 40px !important;
  height: 40px !important;
} */

/* Begin: Modal CSS */
.confirm-modal,
.behind-modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 10;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: unset !important;
  /* -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); */
}

.behind-modal {
  background-color: unset;
  z-index: 10;
}

.confirm-modal-content {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 182px;
  align-items: center;
  width: 100vw;
  max-width: 400px;
  background-color: #323259;
  color: #fff;
  box-shadow: none !important;
  border-radius: 4px;
  margin-bottom: 40px;
  z-index: 10;
}

.modal-content-text {
  width: 100%;
  margin-top: -68px;
  font-size: 15px;
}

.modal-content-text > div:first-child {
  font-weight: bold;
}

.modal-content-text > div {
  border-bottom: 1px solid #1b1b38;
  padding: 16px 24px;
}

.close-modal-btn {
  position: absolute;
  font-size: 28px;
  right: 8px;
  top: 8px;
}

.close-modal-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.modal-button {
  display: flex;
  gap: 40px;
  position: absolute;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  padding: 16px 24px;
}

.modal-button button {
  border: none;
  width: 120px;
  height: 48px;
  border-radius: 4px;
}

.modal-button a {
  text-decoration: none !important;
}

.btn-modal-yes,
.btn-modal-no {
  border: none;
  color: #fff;
  width: 62px !important;
  height: 40px !important;
  font-size: 14px !important;
  font-weight: bold !important;
}

.btn-modal-yes {
  box-shadow: 0 0 0 0 #7b51db, 0 0 0 0 #5a37b8, 0 0 transparent !important;
  background-image: linear-gradient(90deg, #b18aff, #a16eff) !important;
}

.btn-modal-yes:hover {
  background-image: linear-gradient(90deg, #d5bfff, #b18aff) !important;
  color: #fff !important;
}

.btn-modal-no {
  background-image: linear-gradient(90deg, #ff708d, #ff3d71) !important;
  box-shadow: 0 0 0 0 #db2c66, 0 0 0 0 #b81d5b, 0 0 transparent !important;
  transition-duration: 32.15s !important;
  transition-property: background-image, border-color, box-shadow, color !important;
  transition-timing-function: ease-in !important;
}

.btn-modal-no {
  background-image: linear-gradient(90deg, #ff708d, #ff3d71) !important;
  color: red;
}

.btn-modal-no:hover {
  background-image: linear-gradient(90deg, #ffa8b4, #ff708d) !important;
  color: #fff !important;
}

/* End: Modal CSS */

/* Begin: Pagination CSS */
.pagination {
  display: flex !important;
  justify-content: space-around;
}

.pagination-left {
  display: flex;
  font-size: 16px;
  align-items: center;
  gap: 20px;
}

.pagination-left select {
  position: relative;
  width: 48px;
  line-height: 32px;
  text-align: center;
  border: none !important;
  outline: none !important;
}

.pagination-left h4,
.pagination-left p {
  margin: 0 !important;
}

.pagination-left > p > div svg {
  position: absolute;
  right: 0px;
  top: 22%;
}

.pagination-right {
  list-style: none;
  display: flex;
}

.pagination-item {
  width: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.pagination-item:hover {
  cursor: pointer;
}
/* End: Pagination CSS */

/* Responsive */
@media (min-width: 1200px) {
}

@media (max-width: 991px) {
  .navbar-nav {
    display: none !important;
  }

  .navbar-toggler {
    position: absolute;
    right: 20px;
  }
}

@media (max-width: 1023px) {
}
